.comparison {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  &-list {
    width: 32%;
    background-color: #fff;
    .vxe-table--body-wrapper {
      max-height: 70vh !important;
    }
  }
  .vxe-header--column {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 430.02px) {
  .comparison {
    width: 100%;
    flex-wrap: wrap;
    &-list {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
